<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MenuDOMapper">
  <resultMap id="BaseResultMap" type="com.example.model.MenuDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="fsize" jdbcType="BIGINT" property="fsize" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, size, time, path, tag, fsize
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.MenuDO">
    insert into menu (id, title, size, 
      time, path, tag, fsize
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{fsize,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.MenuDO">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="fsize != null">
        fsize,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="fsize != null">
        #{fsize,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.MenuDO">
    update menu
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="fsize != null">
        fsize = #{fsize,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.MenuDO">
    update menu
    set title = #{title,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      fsize = #{fsize,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>